@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

header {
  width: 1440px;
  height: 1861px;
  margin: 0 auto;
  background: #222;
}
header .header__liner-gradient {
  position: relative;
  margin-left: 700px;
  margin-top: -200px;
  width: 859.5px;
  height: 863.5px;
  border-radius: 863px;
  opacity: 0.500000003;
  filter: blur(140px);
  background: linear-gradient(#FC7C1F, #222);
}
header .header__nav {
  position: absolute;
  margin-top: -650px;
  display: flex;
  align-items: center;
  width: 1440px;
  height: 94px;
}
header .header__nav .header__nav-logo {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 200px;
  height: 94px;
}
header .header__nav .header__nav-list {
  margin-left: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 486px;
  height: 21px;
}
header .header__nav .header__nav-list .header__nav-list-li {
  list-style: none;
}
header .header__nav .header__nav-list .header__nav-list-li .header__nav-list-link {
  color: white;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: var(--f-1-f-1-f-1, #F1F1F1);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.14px;
}
header .header__nav .header__nav-list .header__nav-list-li .header__nav-list-link:hover {
  color: red;
  border-bottom: 2px solid white;
}
header .header__nav .header__nav-button {
  margin-left: 390px;
  background-color: #fff;
  width: 122px;
  height: 54px;
  border-radius: 65px;
  border: 1px solid white;
  color: var(--151515, #151515);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
header .header__nav .header__nav-button:hover {
  background-color: #a4a4a4;
  color: red;
  border: 4px solid rgb(0, 255, 247);
}
header .header__hero {
  margin-top: -555px;
  width: 1440px;
  height: 1785px;
}
header .header__hero .header__hero-text {
  margin-left: 140px;
  margin-top: 100px;
  width: 1159px;
  height: 334px;
}
header .header__hero .header__hero-text .header__hero-text-h1 {
  color: var(--f-1-f-1-f-1, #F1F1F1);
  font-family: "Roboto", sans-serif;
  font-size: 80px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
}
header .header__hero .header__hero-text .header__hero-text-p {
  padding-top: 30px;
  color: var(--ff-4-c-0-d, #FF4C0D);
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}
header .header__hero .header__hero-button {
  display: flex;
  margin-left: 140px;
  margin-top: 70px;
  width: 248px;
  height: 54px;
  border-radius: 108px;
  border: 3px solid white;
}
header .header__hero .header__hero-button .header__hero-button-1 {
  width: 118px;
  height: 55px;
  background: #fff;
  border-radius: 27px;
  border: 1px solid white;
  color: var(--151515, #151515);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
header .header__hero .header__hero-button .header__hero-button-1:hover {
  background: #a6a6a6;
  color: #fff;
  border: 1px solid rgba(164, 164, 164, 0);
}
header .header__hero .header__hero-button .header__hero-button-2 {
  margin-left: -1px;
  width: 130px;
  height: 54px;
  background-color: #222;
  border-radius: 25px;
  border: 1px solid #222;
  color: var(--f-1-f-1-f-1, #F1F1F1);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
header .header__hero .header__hero-button .header__hero-button-2:hover {
  background: #a4a4a4;
}
header .header__hero .header__hero-text-2 {
  padding-top: 200px;
  padding-left: 140px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 45px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
}
header .header__hero .header__hero-frame {
  margin-left: 140px;
  margin-top: 50px;
  width: 1180px;
  height: 183px;
}
header .header__hero .header__hero-frame .header__hero-frame-1 {
  display: flex;
  align-items: center;
  width: 100%;
  height: 24px;
}
header .header__hero .header__hero-frame .header__hero-frame-1 .header__hero-frame-1-1 {
  color: var(--f-1-f-1-f-1, #F1F1F1);
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}
header .header__hero .header__hero-frame .header__hero-frame-1 .header__hero-frame-1-2 {
  padding-left: 200px;
  color: #c0c0c0;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}
header .header__hero .header__hero-frame .header__hero-frame-line {
  display: flex;
  margin-top: 15px;
  width: 100%;
  height: 7px;
}
header .header__hero .header__hero-frame .header__hero-frame-line .header__hero-frame-line-1 {
  width: 340px;
  height: 3px;
  background: var(--ff-4-c-0-d, #FF4C0D);
}
header .header__hero .header__hero-frame .header__hero-frame-line .header__hero-frame-line-2 {
  width: 740px;
  height: 3px;
  background-color: #cdcdcd;
}
header .header__hero .header__hero-frame .header__hero-frame-text {
  display: flex;
  margin-top: 10px;
  width: 100%;
  height: 126px;
}
header .header__hero .header__hero-frame .header__hero-frame-text .header__hero-frame-text-1 {
  width: 360px;
  height: 126px;
  color: #F1F1F1;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.14px;
}
header .header__hero .header__hero-frame .header__hero-frame-text .header__hero-frame-text-2 {
  padding-left: 30px;
  width: 360px;
  height: 84px;
  color: #cdcdcd;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.14px;
}
header .header__hero .header__hero-frame .header__hero-frame-text .header__hero-frame-text-3 {
  padding-left: 40px;
  width: 360px;
  height: 84px;
  color: #cdcdcd;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.14px;
}
header .header__hero .header__hero-img {
  margin-top: 100px;
  display: flex;
  width: 100% px;
  height: 540px;
  background-image: url(/images/Path.svg);
  background-position-y: 200px;
  background-repeat: no-repeat;
  background-color: #222;
}
header .header__hero .header__hero-img .header__hero-img-1 {
  margin-left: 140px;
  width: 760px;
  height: 400px;
}
header .header__hero .header__hero-img .header__hero-img-2 {
  width: 450px;
  height: 300px;
  background-image: url(/images/Rectangle\ 24.svg);
  background-repeat: no-repeat;
  background-position-x: 50px;
}

.frame__21 {
  margin: 0 auto;
  width: 1440px;
  height: 830px;
  background-image: url(/images/image\ 205.png);
  background-repeat: no-repeat;
  background-position-y: 230px;
}
.frame__21 .frame__21-1 {
  padding-top: 350px;
  padding-left: 140px;
}
.frame__21 .frame__21-2 {
  margin-left: 140px;
  margin-top: 140px;
  width: 960px;
  height: 172px;
}
.frame__21 .frame__21-2 .frame__21-2-h2 {
  color: var(--f-1-f-1-f-1, #F1F1F1);
  font-family: "Roboto", sans-serif;
  font-size: 47px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
}
.frame__21 .frame__21-2 .frame__21-2-p {
  padding-top: 20px;
  color: var(--f-1-f-1-f-1, #F1F1F1);
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.14px;
}

.frame__23 {
  width: 1440px;
  height: 2402px;
  margin: 0 auto;
  background: #222;
  background-image: url(/images/Path.png);
  background-repeat: no-repeat;
  background-position-x: 1145px;
}
.frame__23 .frame__23-h3 {
  width: 1160px;
  height: 100px;
  color: var(--ff-4-c-0-d, #FF4C0D);
  padding-top: 120px;
  padding-left: 140px;
  font-family: Gilroy;
  font-size: 45px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
}
.frame__23 .frame__23-div-1 {
  display: flex;
  margin-top: 70px;
  margin-left: 140px;
  width: 1170px;
  height: 550px;
}
.frame__23 .frame__23-div-1 .frame__23-div-1-1 {
  display: flex;
  width: 560px;
  height: 550px;
  border-radius: 15px;
  background-image: url(/images/Rectangle\ 89.png);
  background-repeat: no-repeat;
}
.frame__23 .frame__23-div-1 .frame__23-div-1-1 .frame__23-div-1-1-div {
  margin-left: 50px;
  margin-top: 400px;
  width: 440px;
  height: 102px;
}
.frame__23 .frame__23-div-1 .frame__23-div-1-1 .frame__23-div-1-1-div .frame__23-div-1-1-div-span {
  color: var(--f-1-f-1-f-1, #F1F1F1);
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}
.frame__23 .frame__23-div-1 .frame__23-div-1-1 .frame__23-div-1-1-div .frame__23-div-1-1-div-p {
  padding-top: 10px;
  color: var(--f-1-f-1-f-1, #F1F1F1);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.14px;
}
.frame__23 .frame__23-div-1 .frame__23-div-1-2 {
  display: flex;
  width: 560px;
  height: 550px;
  border-radius: 15px;
  background-image: url(/images/image\ 198.png);
  background-repeat: no-repeat;
  background-position-x: 50px;
}
.frame__23 .frame__23-div-1 .frame__23-div-1-2 .frame__23-div-1-1-div {
  margin-left: 100px;
  margin-top: 400px;
  width: 440px;
  height: 102px;
}
.frame__23 .frame__23-div-1 .frame__23-div-1-2 .frame__23-div-1-1-div .frame__23-div-1-1-div-span {
  color: var(--f-1-f-1-f-1, #F1F1F1);
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}
.frame__23 .frame__23-div-1 .frame__23-div-1-2 .frame__23-div-1-1-div .frame__23-div-1-1-div-p {
  padding-top: 10px;
  color: var(--f-1-f-1-f-1, #F1F1F1);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.14px;
}
.frame__23 .frame__23-h2 {
  padding-left: 140px;
  padding-top: 150px;
  color: var(--ff-4-c-0-d, #FF4C0D);
  font-family: "Roboto", sans-serif;
  font-size: 45px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
}
.frame__23 .header__hero-frame {
  margin-left: 140px;
  margin-top: 50px;
  width: 1180px;
  height: 183px;
}
.frame__23 .header__hero-frame .header__hero-frame-1 {
  display: flex;
  align-items: center;
  width: 100%;
  height: 24px;
}
.frame__23 .header__hero-frame .header__hero-frame-1 .header__hero-frame-1-1 {
  color: var(--f-1-f-1-f-1, #F1F1F1);
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}
.frame__23 .header__hero-frame .header__hero-frame-1 .header__hero-frame-1-2 {
  padding-left: 160px;
  color: #c0c0c0;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}
.frame__23 .header__hero-frame .header__hero-frame-line {
  display: flex;
  margin-top: 15px;
  width: 100%;
  height: 7px;
}
.frame__23 .header__hero-frame .header__hero-frame-line .header__hero-frame-line-1 {
  width: 250px;
  height: 3px;
  background: var(--ff-4-c-0-d, #FF4C0D);
}
.frame__23 .header__hero-frame .header__hero-frame-line .header__hero-frame-line-2 {
  width: 910px;
  height: 3px;
  background-color: #cdcdcd;
}
.frame__23 .header__hero-frame .header__hero-frame-text {
  display: flex;
  margin-top: 10px;
  width: 100%;
  height: 126px;
}
.frame__23 .header__hero-frame .header__hero-frame-text .header__hero-frame-text-1 {
  width: 360px;
  height: 126px;
  color: #F1F1F1;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.14px;
}
.frame__23 .header__hero-frame .header__hero-frame-text .header__hero-frame-text-2 {
  margin-left: -60px;
  width: 360px;
  height: 84px;
  color: #cdcdcd;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.14px;
}
.frame__23 .header__hero-frame .header__hero-frame-text .header__hero-frame-text-3 {
  margin-left: -55px;
  width: 360px;
  height: 84px;
  color: #cdcdcd;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.14px;
}
.frame__23 .frame__23-img {
  display: flex;
  margin-left: 140px;
  margin-top: 50px;
  width: 1170px;
  height: 400px;
}
.frame__23 .frame__23-text {
  margin-top: 70px;
  margin-left: 140px;
  width: 1025px;
  height: 608px;
  background-image: url(/images/7\ копия\ 1.png);
  background-repeat: no-repeat;
  background-position-x: 620px;
  background-position-y: 33px;
}
.frame__23 .frame__23-text .frame__23-text-1 {
  margin-top: 150px;
  width: 525px;
  height: 235px;
}
.frame__23 .frame__23-text .frame__23-text-1 .frame__23-text-1-h2 {
  color: var(--ff-4-c-0-d, #FF4C0D);
  font-family: "Roboto", sans-serif;
  font-size: 45px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
}
.frame__23 .frame__23-text .frame__23-text-1 .frame__23-text-1-p {
  padding-top: 30px;
  color: var(--f-1-f-1-f-1, #F1F1F1);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.14px;
}
.frame__23 .frame__23-text .frame__23-text-button {
  display: flex;
}
.frame__23 .frame__23-text .frame__23-text-button .buttonframe1 {
  margin-top: 70px;
}
.frame__23 .frame__23-text .frame__23-text-button .buttonframe2 {
  margin-left: 30px;
  margin-top: 70px;
}

.frame__144 {
  width: 1440px;
  height: 600px;
  margin: 0 auto;
  background: rgba(232, 181, 119, 0.7);
  background-blend-mode: soft-light;
  background-image: url(/images/image\ 206.png);
}
.frame__144 .section-img {
  padding-top: 120px;
  padding-left: 140px;
}
.frame__144 .frame__144-text {
  margin-top: 160px;
  margin-left: 140px;
  width: 960px;
  height: 174px;
}
.frame__144 .frame__144-text .frame__144-text-1 {
  color: var(--ff-4-c-0-d, #FF4C0D);
  font-family: "Roboto", sans-serif;
  font-size: 45px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
}
.frame__144 .frame__144-text .frame__144-text-2 {
  padding-top: 40px;
  color: var(--151515, #151515);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.14px;
}
.frame__144 .frame__144-img {
  margin-top: -1000px;
  margin-left: 1330px;
}

.frame__27 {
  width: 1440px;
  height: 1842px;
  margin: 0 auto;
  background-color: #222;
}
.frame__27 .frame__27-h3 {
  padding-top: 120px;
  padding-left: 140px;
  width: 1160px;
  height: 50px;
  color: var(--ff-4-c-0-d, #FF4C0D);
  font-family: "Roboto", sans-serif;
  font-size: 45px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
}
.frame__27 .frame__27-group-1 {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  width: 1460px;
  height: 294px;
}
.frame__27 .frame__27-group-1 .frame__27-group-1-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 460px;
  height: 294px;
  border-radius: 15px;
  background: var(--151515, #151515);
}
.frame__27 .frame__27-group-1 .frame__27-group-1-1 .frame__27-group-1-text {
  width: 380px;
  height: 214px;
}
.frame__27 .frame__27-group-1 .frame__27-group-1-1 .frame__27-group-1-text .frame__27-group-1-text-h4 {
  color: var(--f-1-f-1-f-1, #F1F1F1);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}
.frame__27 .frame__27-group-1 .frame__27-group-1-1 .frame__27-group-1-text .frame__27-group-1-text-line {
  margin-top: 15px;
  width: 100px;
  height: 3px;
  background: var(--ff-4-c-0-d, #FF4C0D);
}
.frame__27 .frame__27-group-1 .frame__27-group-1-1 .frame__27-group-1-text .frame__27-group-1-text-lorem {
  padding-top: 20px;
  color: var(--f-1-f-1-f-1, #F1F1F1);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.14px;
}
.frame__27 .frame__27-group22 {
  display: flex;
  margin-left: 140px;
  margin-top: 50px;
  width: 1123px;
  height: 54px;
}
.frame__27 .frame__27-group22 .frame__27-group22-button {
  width: 189px;
  height: 54px;
  border-radius: 65px;
  background: var(--f-1-f-1-f-1, #F1F1F1);
  border: 1px solid white;
  color: var(--151515, #151515);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.frame__27 .frame__27-group22 .frame__27-group22-button:hover {
  background-color: #9c9c9c;
  color: rgb(108, 0, 0);
  border: 5px solid darkcyan;
}
.frame__27 .frame__27-group22 .frame__27-group22-arrow {
  display: flex;
  margin-left: 820px;
  width: 123px;
  height: 54px;
}
.frame__27 .frame__27-group22 .frame__27-group22-arrow .frame__27-group22-arrow-2 {
  padding-left: 10px;
}
.frame__27 .frame__27-frame53 {
  display: flex;
  margin-left: 140px;
  margin-top: 100px;
  width: 1125px;
  height: 474px;
}
.frame__27 .frame__27-frame53 .frame__27-frame53-text1 {
  width: 50%;
  height: 100%;
}
.frame__27 .frame__27-frame53 .frame__27-frame53-text1 .frame__27-frame53-text1-h3 {
  color: var(--ff-4-c-0-d, #FF4C0D);
  font-family: "Roboto", sans-serif;
  font-size: 45px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
}
.frame__27 .frame__27-frame53 .frame__27-frame53-text1 .frame__27-frame53-text1-p {
  padding-top: 30px;
  color: var(--f-1-f-1-f-1, #F1F1F1);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.14px;
}
.frame__27 .frame__27-frame53 .frame__27-frame53-text1 .frame__27-frame53-text1-button {
  margin-top: 80px;
  width: 183px;
  height: 54px;
  border-radius: 65px;
  background: var(--f-1-f-1-f-1, #F1F1F1);
  border: 1px solid white;
  color: var(--151515, #151515);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.frame__27 .frame__27-frame53 .frame__27-frame53-text1 .frame__27-frame53-text1-button:hover {
  background-color: #9c9c9c;
  border: 4px solid darkturquoise;
  color: #661b00;
}
.frame__27 .frame__27-frame53 .frame__27-frame53-text2 {
  width: 50%;
  height: 100%;
}
.frame__27 .frame__27-frame53 .frame__27-frame53-text2 .frame__27-frame53-text2-1 {
  width: 100%;
  height: 99px;
}
.frame__27 .frame__27-frame53 .frame__27-frame53-text2 .frame__27-frame53-text2-1 .frame__27-frame53-text2-1-h5 {
  color: var(--f-1-f-1-f-1, #F1F1F1);
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}
.frame__27 .frame__27-frame53 .frame__27-frame53-text2 .frame__27-frame53-text2-1 .frame__27-frame53-text2-1-line {
  margin-top: 10px;
  width: 100px;
  height: 3px;
  background: var(--ff-4-c-0-d, #FF4C0D);
}
.frame__27 .frame__27-frame53 .frame__27-frame53-text2 .frame__27-frame53-text2-1 .frame__27-frame53-text2-1-lorem {
  padding-top: 15px;
  color: var(--f-1-f-1-f-1, #F1F1F1);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.14px;
}
.frame__27 .frame__27-group17 {
  display: flex;
  margin-top: 100px;
  margin-left: 140px;
  width: 1160px;
  height: 550px;
  border-radius: 15px;
  background: var(--151515, #151515);
}
.frame__27 .frame__27-group17 .frame__27-group17-1 {
  padding-top: 50px;
  width: 494px;
  height: 500px;
}
.frame__27 .frame__27-group17 .frame__27-group17-1 .frame__27-group17-1-h2 {
  padding-left: 50px;
  color: var(--f-1-f-1-f-1, #F1F1F1);
  font-family: "Roboto", sans-serif;
  font-size: 44.5px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
}
.frame__27 .frame__27-group17 .frame__27-group17-1 .frame__27-group17-1-h2 .frame__27-group17-1-h2-span {
  color: var(--ff-4-c-0-d, #FF4C0D);
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}
.frame__27 .frame__27-group17 .frame__27-group17-1 .frame__27-group17-1-button {
  margin-left: 50px;
  display: flex;
  margin-top: 50px;
  width: 248px;
  height: 54px;
  border-radius: 108px;
  border: 1px solid white;
}
.frame__27 .frame__27-group17 .frame__27-group17-1 .frame__27-group17-1-button .frame__27-group17-1-button-1 {
  width: 118px;
  height: 54px;
  border-radius: 65px;
  background: var(--f-1-f-1-f-1, #F1F1F1);
  border: 1px solid white;
  color: var(--151515, #151515);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.frame__27 .frame__27-group17 .frame__27-group17-1 .frame__27-group17-1-button .frame__27-group17-1-button-1:hover {
  background-color: #9c9c9c;
}
.frame__27 .frame__27-group17 .frame__27-group17-1 .frame__27-group17-1-button .frame__27-group17-1-button-2 {
  width: 130px;
  height: 54px;
  border-radius: 65px;
  background-color: #151515;
  border: 1px solid #151515;
  color: var(--f-1-f-1-f-1, #F1F1F1);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.frame__27 .frame__27-group17 .frame__27-group17-1 .frame__27-group17-1-button .frame__27-group17-1-button-2:hover {
  background-color: #222;
}
.frame__27 .frame__27-group17 .frame__27-group17-1 .frame__27-group17-1-button1 {
  margin-top: 200px;
  margin-left: 50px;
  width: 122px;
  height: 54px;
  border-radius: 65px;
  border: 1px solid #FF4C0D;
  background: var(--ff-4-c-0-d, #FF4C0D);
  color: var(--style, #FFF);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.frame__27 .frame__27-group17 .frame__27-group17-1 .frame__27-group17-1-button1:hover {
  background: #661b00;
}
.frame__27 .frame__27-group17 .frame__27-group17-2 {
  padding-top: 50px;
  margin-left: 350px;
  width: 200px;
  height: 256px;
  list-style: none;
}
.frame__27 .frame__27-group17 .frame__27-group17-2 .frame__27-group17-2-li1 {
  color: var(--style, #FFF);
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}
.frame__27 .frame__27-group17 .frame__27-group17-2 .frame__27-group17-2-li {
  padding-top: 12px;
  color: var(--style, #c5c5c5);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.14px;
}

footer {
  display: flex;
  align-items: center;
  width: 1440px;
  height: 171px;
  margin: 0 auto;
  background: #222;
}
footer .footer-text-1 {
  padding-left: 140px;
  width: 146px;
  height: 52px;
  color: var(--f-1-f-1-f-1, #F1F1F1);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.14px;
}
footer .footer-text-2 {
  margin-left: 730px;
  width: 280px;
  height: 52px;
  color: var(--f-1-f-1-f-1, #F1F1F1);
  text-align: right;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.14px;
}

/*# sourceMappingURL=main.css.map */
