.frame__23{
    width: 1440px;
    height: 2402px;
    margin: 0 auto;
    background: #222;
    background-image: url(/images/Path.png);
    background-repeat: no-repeat;
    background-position-x: 1145px;
    .frame__23-h3{
        width: 1160px;
        height: 100px;
        color: var(--ff-4-c-0-d, #FF4C0D);
        padding-top: 120px;
        padding-left: 140px;
        font-family: Gilroy;
        font-size: 45px;
        font-style: normal;
        font-weight: 500;
        line-height: 110%;
    }
    .frame__23-div-1{
        display: flex;
        margin-top: 70px;
        margin-left: 140px;
        width: 1170px;
        height: 550px;
        .frame__23-div-1-1{
            display: flex;
            width: 560px;
            height: 550px;
            border-radius: 15px;
            background-image: url(/images/Rectangle\ 89.png);
            background-repeat: no-repeat;
            .frame__23-div-1-1-div{
                margin-left: 50px;
                margin-top: 400px;
                width: 440px;
                height: 102px;
                .frame__23-div-1-1-div-span{
                    color: var(--f-1-f-1-f-1, #F1F1F1);
                    font-family: 'Roboto', sans-serif;                    font-size: 20px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 120%;
                }
                .frame__23-div-1-1-div-p{
                    padding-top: 10px;
                    color: var(--f-1-f-1-f-1, #F1F1F1);
                    font-family: 'Roboto', sans-serif;                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 150%;
                    letter-spacing: -0.14px;
                }
            }
        }
        .frame__23-div-1-2{
            display: flex;
            width: 560px;
            height: 550px;
            border-radius: 15px;
            background-image: url(/images/image\ 198.png);
            background-repeat: no-repeat;
            background-position-x: 50px;
            .frame__23-div-1-1-div{
                margin-left: 100px;
                margin-top: 400px;
                width: 440px;
                height: 102px;
                .frame__23-div-1-1-div-span{
                    color: var(--f-1-f-1-f-1, #F1F1F1);
                    font-family: 'Roboto', sans-serif;                    font-size: 20px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 120%;
                }
                .frame__23-div-1-1-div-p{
                    padding-top: 10px;
                    color: var(--f-1-f-1-f-1, #F1F1F1);
                    font-family: 'Roboto', sans-serif;                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 150%;
                    letter-spacing: -0.14px;
                }
            }
        }
    }
    .frame__23-h2{
        padding-left: 140px;
        padding-top: 150px;
        color: var(--ff-4-c-0-d, #FF4C0D);
        font-family: 'Roboto', sans-serif; 
        font-size: 45px;
        font-style: normal;
        font-weight: 500;
        line-height: 110%;
    }
    .header__hero-frame{
        margin-left: 140px;
        margin-top: 50px;
        width: 1180px;
        height: 183px;
        .header__hero-frame-1{
            display: flex;
            align-items: center;
            width: 100%;
            height: 24px;
            .header__hero-frame-1-1{
                color: var(--f-1-f-1-f-1, #F1F1F1);
                font-family: 'Roboto', sans-serif;
                font-size: 18px;
                font-style: normal;
                font-weight: 600;
                line-height: 120%;
            }
            .header__hero-frame-1-2{
                padding-left: 160px;
                color:#c0c0c0;
                font-family: 'Roboto', sans-serif;
                font-size: 18px;
                font-style: normal;
                font-weight: 600;
                line-height: 120%;
            }
        }
        .header__hero-frame-line{
            display: flex;
            margin-top: 15px;
            width: 100%;
            height: 7px;
            .header__hero-frame-line-1{
                width: 250px;
                height: 3px;
                background: var(--ff-4-c-0-d, #FF4C0D);
            }
            .header__hero-frame-line-2{
                width: 910px;
                height: 3px;
                background-color: #cdcdcd;
            }
        }
        .header__hero-frame-text{
            display: flex;
            margin-top: 10px;
            width: 100%;
            height: 126px;
            .header__hero-frame-text-1{
                width: 360px;
                height: 126px;
                color: #F1F1F1;
                font-family: 'Roboto', sans-serif;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%;
                letter-spacing: -0.14px;
            }
            .header__hero-frame-text-2{
                margin-left: -60px;
                width: 360px;
                height: 84px;
                color: #cdcdcd;
                font-family: 'Roboto', sans-serif;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%;
                letter-spacing: -0.14px;
            }
            .header__hero-frame-text-3{
                margin-left: -55px;
                width: 360px;
                height: 84px;
                color: #cdcdcd;
                font-family: 'Roboto', sans-serif;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%;
                letter-spacing: -0.14px;
            }
        }
    }
    .frame__23-img{
        display: flex;
        margin-left: 140px;
        margin-top: 50px;
        width: 1170px;
        height: 400px;
    }
    .frame__23-text{
        margin-top: 70px;
        margin-left: 140px;
        width: 1025px;
        height: 608px;
        background-image: url(/images/7\ копия\ 1.png);
        background-repeat: no-repeat;
        background-position-x: 620px;
        background-position-y: 33px;
        .frame__23-text-1{
            margin-top: 150px;
            width: 525px;
            height: 235px;
            .frame__23-text-1-h2{
                color: var(--ff-4-c-0-d, #FF4C0D);
                font-family: 'Roboto', sans-serif; 
                font-size: 45px;
                font-style: normal;
                font-weight: 500;
                line-height: 110%;
            }
            .frame__23-text-1-p{
                padding-top: 30px;
                color: var(--f-1-f-1-f-1, #F1F1F1);
                font-family: 'Roboto', sans-serif; 
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%;
                letter-spacing: -0.14px;
            }
        }
        .frame__23-text-button{
            display: flex;
            .buttonframe1{
                margin-top: 70px;
            }
            .buttonframe2{
                margin-left: 30px;
                margin-top: 70px;
            }
        }
    }
}