.frame__27{
    width: 1440px;
    height: 1842px;
    margin: 0 auto;
    background-color: #222;
    .frame__27-h3{
        padding-top: 120px;
        padding-left: 140px;
        width: 1160px;
        height: 50px;
        color: var(--ff-4-c-0-d, #FF4C0D);
        font-family: "Roboto", sans-serif;
        font-size: 45px;
        font-style: normal;
        font-weight: 500;
        line-height: 110%;
    }
    .frame__27-group-1{
        margin-top: 50px;
        display: flex;
        justify-content: space-around;
        width: 1460px;
        height: 294px;
        .frame__27-group-1-1{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 460px;
            height: 294px;
            border-radius: 15px;
            background: var(--151515, #151515);
            .frame__27-group-1-text{
                width: 380px;
                height: 214px;
                .frame__27-group-1-text-h4{
                    color: var(--f-1-f-1-f-1, #F1F1F1);
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 120%;
                }
                .frame__27-group-1-text-line{
                    margin-top: 15px;
                    width: 100px;
                    height: 3px;
                    background: var(--ff-4-c-0-d, #FF4C0D);
                }
                .frame__27-group-1-text-lorem{
                    padding-top: 20px;
                    color: var(--f-1-f-1-f-1, #F1F1F1);
                    font-family: "Roboto", sans-serif;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 150%; 
                    letter-spacing: -0.14px;
                }
            }
        }
    }
    .frame__27-group22{
        display: flex;
        margin-left: 140px;
        margin-top: 50px;
        width: 1123px;
        height: 54px;
        .frame__27-group22-button{
            width: 189px;
            height: 54px;
            border-radius: 65px;
            background: var(--f-1-f-1-f-1, #F1F1F1);
            border: 1px solid white;
            color: var(--151515, #151515);
            font-family: "Roboto", sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 150%;
        }
        .frame__27-group22-button:hover{
            background-color: #9c9c9c;
            color: rgb(108, 0, 0);
            border: 5px solid darkcyan;
        }
        .frame__27-group22-arrow{
            display: flex;
            margin-left: 820px;
            width: 123px;
            height: 54px;
            .frame__27-group22-arrow-2{
                padding-left: 10px;
            }
        }
    }
    .frame__27-frame53{
        display: flex;
        margin-left: 140px;
        margin-top: 100px;
        width: 1125px;
        height: 474px;
        .frame__27-frame53-text1{
            width: 50%;
            height: 100%;
            .frame__27-frame53-text1-h3{
                color: var(--ff-4-c-0-d, #FF4C0D);
                font-family: "Roboto", sans-serif;
                font-size: 45px;
                font-style: normal;
                font-weight: 500;
                line-height: 110%;
            }
            .frame__27-frame53-text1-p{
                padding-top: 30px;
                color: var(--f-1-f-1-f-1, #F1F1F1);
                font-family: "Roboto", sans-serif;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%;
                letter-spacing: -0.14px;
            }
            .frame__27-frame53-text1-button{
                margin-top: 80px;
                width: 183px;
                height: 54px;
                border-radius: 65px;
                background: var(--f-1-f-1-f-1, #F1F1F1);
                border: 1px solid white;
                color: var(--151515, #151515);
                font-family: "Roboto", sans-serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: 150%;
            }
            .frame__27-frame53-text1-button:hover{
                background-color: #9c9c9c;
                border: 4px solid darkturquoise;
                color: #661b00;
            }
        }
        .frame__27-frame53-text2{
            width: 50%;
            height: 100%;
            .frame__27-frame53-text2-1{
                width: 100%;
                height: 99px;
                .frame__27-frame53-text2-1-h5{
                    color: var(--f-1-f-1-f-1, #F1F1F1);
                    font-family: "Roboto", sans-serif;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 120%;
                }
                .frame__27-frame53-text2-1-line{
                    margin-top: 10px;
                    width: 100px;
                    height: 3px;
                    background: var(--ff-4-c-0-d, #FF4C0D);
                }
                .frame__27-frame53-text2-1-lorem{
                    padding-top: 15px;
                    color: var(--f-1-f-1-f-1, #F1F1F1);
                    font-family: "Roboto", sans-serif;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 150%;
                    letter-spacing: -0.14px;
                }
            }
        }
    }
    .frame__27-group17{
        display: flex;
        margin-top: 100px;
        margin-left: 140px;
        width: 1160px;
        height: 550px;
        border-radius: 15px;
        background: var(--151515, #151515);
        .frame__27-group17-1{
            padding-top: 50px;
            width: 494px;
            height: 500px;
            .frame__27-group17-1-h2{
                padding-left: 50px;
                color: var(--f-1-f-1-f-1, #F1F1F1);
                font-family: "Roboto", sans-serif;
                font-size: 44.5px;
                font-style: normal;
                font-weight: 500;
                line-height: 110%;
                .frame__27-group17-1-h2-span{
                    color: var(--ff-4-c-0-d, #FF4C0D);
                    font-family: "Roboto", sans-serif;
                    font-size: 30px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 120%;
                }
            }
            .frame__27-group17-1-button{
                margin-left: 50px;
                display: flex;
                margin-top: 50px;
                width: 248px;
                height: 54px;
                border-radius: 108px;
                border: 1px solid white;
                .frame__27-group17-1-button-1{
                    width: 118px;
                    height: 54px;
                    border-radius: 65px;
                    background: var(--f-1-f-1-f-1, #F1F1F1);
                    border: 1px solid white;
                    color: var(--151515, #151515);
                    font-family: "Roboto", sans-serif;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 150%;
                }
                .frame__27-group17-1-button-1:hover{
                    background-color: #9c9c9c;
                }
                .frame__27-group17-1-button-2{
                    width: 130px;
                    height: 54px;
                    border-radius: 65px;
                    background-color: #151515;
                    border: 1px solid #151515;
                    color: var(--f-1-f-1-f-1, #F1F1F1);
                    font-family: "Roboto", sans-serif;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 150%;
                }
                .frame__27-group17-1-button-2:hover{
                    background-color: #222;
                }
            }
            .frame__27-group17-1-button1{
                    margin-top: 200px;
                    margin-left: 50px;
                    width: 122px;
                    height: 54px;
                    border-radius: 65px;
                    border: 1px solid #FF4C0D;
                    background: var(--ff-4-c-0-d, #FF4C0D);
                    color: var(--style, #FFF);
                    font-family: "Roboto", sans-serif;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 150%;
            }
            .frame__27-group17-1-button1:hover{
                background: #661b00;
            }
        }
        .frame__27-group17-2{
            padding-top: 50px;
            margin-left: 350px;
            width: 200px;
            height: 256px;
            list-style: none;
            .frame__27-group17-2-li1{
                color: var(--style, #FFF);
                font-family: "Roboto", sans-serif;
                font-size: 20px;
                font-style: normal;
                font-weight: 600;
                line-height: 120%;
            }
            .frame__27-group17-2-li{
                padding-top: 12px;
                color: var(--style, #c5c5c5);
                font-family: "Roboto", sans-serif;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%;
                letter-spacing: -0.14px;
            }
        }
    }
}